# Unreal Engine generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.suo
*.opensdf
*.sdf

# Web
web/node_modules/
web/dist/
web/.vite/
web-r3f/node_modules/
web-r3f/dist/
web-r3f/.vite/

# OS
Thumbs.db
Desktop.ini
